# Assimp dependencies

# standard set of extensions
darcs /dependencies/AssimpDep        http://openengine.dk/code/dependencies/AssimpDep

darcs-dev /dependencies/AssimpDep    fh.daimi.au.dk:/users/cgd/code/dependencies/AssimpDep

#data files
win32 /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz
linux /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz
darwin /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz

