# Assimp dependencies

# standard set of extensions
git /dependencies/AssimpDep        https://github.com/OpenEngineDK/dependencies-AssimpDep.git

git-dev /dependencies/AssimpDep    git@github.com:OpenEngineDK/dependencies-AssimpDep.git

#data files
win32 /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz
linux /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz
linux64 /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz
darwin /dependencies/AssimpDep http://openengine.dk/data/dependencies/assimp-2.0.863.tar.gz

